#button {
    background-color: #45C2CE;
    padding: 8px 15px; 
    border: 1px solid #45C2CE;
    border-radius: 100px;
    font-size: 18px;
    font-family: 'inter';
    font-weight: 600;
    line-height: 20px;
    color: #004450;
    display: inline-block;
  }

  